<script>
var langNotes = {
    saving: '<?= e(trans('winter.notes::lang.models.note.saving')) ?>',
    addNew: '<?= e(trans('winter.notes::lang.models.note.add_new_note')) ?>',
    delete: '<?= e(trans('winter.notes::lang.models.note.delete_note')) ?>',
    new: '<?= e(trans('winter.notes::lang.models.note.new_note')) ?>',
    hasSaved: '<?= e(trans('winter.notes::lang.models.note.has_been_saved')) ?>',
    hasDeleted: '<?= e(trans('winter.notes::lang.models.note.has_been_deleted')) ?>',
    finishSaving: '<?= e(trans('winter.notes::lang.models.note.finish_saving_before_add_new')) ?>',
    mustExist: '<?= e(trans('winter.notes::lang.models.note.must_exist')) ?>'
}
</script>
